@model IEnumerable<User>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-8">Welcome to the User Portal</h1>
    
    <p><a href="https://localhost:5001/user/register">Register</a></p>
    <p><a href="https://localhost:5001/user/login">Login</a></p>
    <p><a href="https://localhost:5001/user/contact">Contact Us</a></p>

</div>