<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target xsi:type"File" name="myAppLoggerTarget" fileName="$(baseddir)/logs/(shortdate).log" layout="${longdate} ${uppercase:${level}} ${message}"/>
    </targets>

    <rules>
        <logger name="myAppLoggerRule" minlevel="Debug" writeTo="myAppLoggerTarget" />
    </rules>
</nlog>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  ...
  <nlog>
    <targets>
       <target name="logconsole" xsi:type="Console" />
    </targets>
    <rules>
       <logger name="*" minlevel="Info" writeTo="logconsole" />
    </rules>
  </nlog>
</configuration>